<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<title>About</title>

</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
    <div class="container">
  <p>
    Betsy uses data from 1900 La Liga games, scraped from fourfourtwo.com, to predict soccer match outcomes.
  </p>
</div>
</div>

<div class="container">


<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


<hr>
<footer>
  <p> Disclaimer: Betsy accepts no responsibility or liability for any losses which may occur using information made available on this site. Use the information provided on Betsy at your own risk.

 
  </p>
</footer>

  </div>

  </div>

  <script>
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
    },
    title: {
        text: 'Game<br>Outcomes',
        align: 'center',
        verticalAlign: 'middle',
        y: 40
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                distance: -50,
                style: {
                    fontWeight: 'bold',
                    color: 'white'
                }
            },
            startAngle: -90,
            endAngle: 90,
            center: ['50%', '75%']
        }
    },
    series: [{
        type: 'pie',
        name: 'Browser share',
        innerSize: '50%',
        data: [
            ['Home team Wins',   47,5],
            ['Draw',       23.3],
            ['Away Team Wins', 29.2]
        ]
    }]
});
</script>


</body>
</html>
