<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div class="navbar navbar-inverse">
    <img border="5" src="http://i.imgur.com/lNNxv3J.png">
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li class="active"><a href="/contact">Contact us<span class="sr-only">(current)</span></a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
    <div class="container">
      <h1>Send us your feedback!</h1>
      <p style="font-size:100%">
        Find the dev team's names and emails below. We'd be happy to hear your thoughts on our site
        and what we could do to improve your experience.
      </p>
    </div>
  </div>
  </div>
  <table id="games-table" style="width:70%;margin-left:auto;margin-right:auto;font-size:110%;">
    <tr><td>Anna O'Malley</td><td>omalleya@seas.upenn.edu </td></tr>
    <tr><td>Dylan Brown</td><td>brodylan@seas.upenn.edu</td></tr>
    <tr><td>Shannon Dowling</td><td>sdowli@seas.upenn.edu</td></tr>
    <tr><td>Griffin Bassman</td><td>griffinbassman@gmail.com</td></tr>
    <tr><td>Brian Park</td><td>paseung@sas.upenn.edu </td></tr>


  </table>
  <div class="container">
    <hr>
    <footer>
      <p> Disclaimer: Betsy accepts no responsibility or liability for any losses which may occur using information made available on this site. Use the information provided on Betsy at your own risk.</p>
    </footer>
  </div>
</body>
</html>
