<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="style/awesomplete.css" />
<script src="style/awesomplete.js" async></script>

</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="jumbotron" id="namep"></div>
<div class="container">

<hr>
<footer>
  <p> Disclaimer: Betsy accepts no responsibility or liability for any losses which may occur using information made available on this site. Use the information provided on Betsy at your own risk.

 
  </p>
</footer>

  </div>


<script>
function getParameterByName(name) {
  var url = window.location.href;
  name = name.replace(/[\[\]]/g, "\\$&");
  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
    results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, " "));
}
var team1 = getParameterByName("team1")
team1 = team1.split('_').join(' ')
var team2 = getParameterByName("team2")
team2 = team2.split('_').join(' ')
var date = getParameterByName("date")
date = date.split('_').join('/')
document.getElementById("namep").innerHTML = "<h2><b>"+team1+" vs. "+team2+"<b><h2><h4>"+date+"</h4>";
</script>

</div>
</body>
</html>
